h3:first-child {
    color: pink;
}
p {
    color: inherit; 
} 
#greycol {
    color: gray;
}
.text-box>div>p {
    color: red;
}  
 /* p:nth-of-type(3) { */
    #greycol~p {
    color: green;
} 
#greycol~.yellow {
    color: yellow;
}

